<div>
    <img class="filmando-alonso-about-photo" src="/images/fernando-alonso-main-page-photo.jpg" alt="" />
    <p class="filmando-alonso-about-paragraph">Fernando Alonso Díaz (Oviedo, Asturias; 29 de julio de 1981) es un piloto
        de automovilismo español, galardonado
        como Premio Príncipe de Asturias en 2005. Ha ganado dos veces el Campeonato Mundial de Fórmula 1 en 2005 y
        2006,una vez el Campeonato Mundial de Resistencia de la FIA en 2019, las 24 Horas de Le Mans en 2018 y 2019,
        las 24 Horas de Daytona de 2019 y el Campeonato Mundial de Karting en 1996. También resultó subcampeón de
        Fórmula 1 en 2010, 2012 y 2013, y obtuvo un tercer puesto en 2007.
        <br><br>
        En su carrera ha competido para los equipos Minardi, Renault, McLaren, Alpine y Scuderia Ferrari, siendo esta su
        escudería desde 2010 hasta 2014. Se marchó de Ferrari y en 2015 volvió a McLaren con su motor Honda. Tras dos
        años fuera de la F1, en 2021 volvió con Alpine F1 Team, parte de la familia Renault, con la que ganó sus 2
        campeonatos. A partir de 2023 formará parte de la escudería Aston Martin sustituyendo a Sebastian Vettel.
        <br><br>
        Además de competir en estos equipos, ha pilotado en las 500 Millas de Indianápolis de 2017, 2019 y 2020 junto a
        McLaren, en las 24 Horas de Daytona de 2018 con un Ligier para United Autosports, en las 24 Horas de Daytona de
        2019 con un Cadillac para Wayne Taylor Racing y en el Campeonato Mundial de Resistencia de 2018-19 y el Rally
        Dakar de 2020 para Toyota Gazoo Racing.
        <br><br>
        Alonso es el sexto piloto con mayor número de victorias en la historia de la Fórmula 1 con 32 grandes premios
        ganados y el sexto piloto con más podios: 98. Entre sus triunfos se cuentan tres en el Gran Premio de
        Malasia, tres en el Gran Premio de Alemania, tres en el Gran Premio de Europa y tres en el Gran Premio de
        Baréin. En 2017, es incluido en el Salón de la Fama de la FIA. En 2019 vuelve a entrar en el Salón de la
        Fama de la FIA, esta vez como campeón del WEC convirtiéndose en el primer piloto de la historia en ser miembro
        del Salón de la Fama por partida doble por pertenecer a la lista de campeones de dos categorías de la FIA
        diferentes.
        <br><br>
        Junto a Alfonso de Portago, Pedro de la Rosa y Carlos Sainz, es uno de los cuatro españoles que han alcanzado el
        podio en esta competición, siendo junto a este último los únicos que han logrado victorias. Es además, uno de
        los cuatro pilotos que han debutado en Ferrari con victoria en la primera carrera (junto con Mario Andretti,
        Nigel Mansell y Kimi Räikkönen).
    </p>
</div>