<div class="row">
    <div class="col-4">
        <img class="filmando-alonso-gallery-image" src="/images/minardi.jpeg" />
    </div>
    <div class="col-4">
        <img class="filmando-alonso-gallery-image" src="/images/renault.jpeg" />
    </div>
    <div class="col-4">
        <img class="filmando-alonso-gallery-image" src="/images/mclaren.jpeg" />
    </div>
    <div class="col-4">
        <img class="filmando-alonso-gallery-image" src="/images/renault2.jpeg" />
    </div>
    <div class="col-4">
        <img class="filmando-alonso-gallery-image" src="/images/ferrari.jpeg" />
    </div>
    <div class="col-4">
        <img class="filmando-alonso-gallery-image" src="/images/mclaren2.jpeg" />
    </div>
    <div class="col-4">
        <img class="filmando-alonso-gallery-image" src="/images/indycar.jpeg" />
    </div>
    <div class="col-4">
        <img class="filmando-alonso-gallery-image" src="/images/alpine.jpeg" />
    </div>
</div>