<div class="row">
    <div class="col-4">
        <img class="filmando-alonso-work-image" src="/images/minardi.jpeg" />
        <h5 class="filmando-alonso-work-title">2001
            Fichaje por Renault y debut con Minardi</h5>
        <p class="filmando-alonso-work-description">Alonso llegó a la máxima categoría del automovilismo mundial en el
            año 2001. Fichado por Renault, fue con Minardi con la escudería con la que realizó su debut en la categoría,
            tras el beneplácito de la escudería francesa para que se fogueara durante un año en uno de los equipos de la
            zona baja de la tabla. Su mejor resultado en aquella temporada 2001 fue el décimo puesto conseguido en el
            Gran Premio de Alemania.</p>
    </div>
    <div class="col-4">
        <img class="filmando-alonso-work-image" src="/images/renault.jpeg" />
        <h5 class="filmando-alonso-work-title">2002-2006
            Renault apuesta por Alonso: dos títulos mundiales</h5>
        <p class="filmando-alonso-work-description">Renault sí mantuvo en nómina a Alonso durante el año 2002, aunque
            con la condición de piloto probador. Fue en 2005 cuando Renault le dio un coche con posibilidades de ganar y
            Alonso no defraudó: conquistó su primer título mundial tras una
            temporada mágica con siete victorias y quince podios.
            Alonso repitió corona un año después, en el que volvió a ganar con la escudería francesa. Fueron entonces
            otros siete triunfos y siete segundos puestos para despedirse de Renault como bicampeón del mundo, por la
            puerta grande.</p>
    </div>
    <div class="col-4">
        <img class="filmando-alonso-work-image" src="/images/mclaren.jpeg" />
        <h5 class="filmando-alonso-work-title">2007
            Año complicado en McLaren</h5>
        <p class="filmando-alonso-work-description">Alonso anunció antes del fin de la temporada 2006 que llegaría en
            2007 a McLaren. En él vivió un año en el que luchó por el título desde el principio y hasta el final, aunque
            con un ambiente enrarecido en el equipo por la pugna que mantuvo durante toda la temporada con Lewis
            Hamilton. Se llegó a la última carrera de la temporada, en Brasil, con los dos como máximos candidatos a la
            victoria, pero fue Kimi Raikkonen con Ferrari quien les quitó la cartera.
            Alonso terminó tercero del Mundial, en un año en el que volvió a conseguir grandes números. Logró cuatro
            victorias, cuatro segundos puestos y otros cuatro terceros para un total de doce podios.</p>
    </div>
    <div class="col-4">
        <img class="filmando-alonso-work-image" src="/images/renault2.jpeg" />
        <h5 class="filmando-alonso-work-title">2008-2009
            Regreso a Renault</h5>
        <p class="filmando-alonso-work-description">De esta manera, Alonso emprendió el camino de vuelta hacia Renault,
            en el que militó en las temporadas 2008 y 2009. Lo hizo sin un coche ganador y con una quinta y una novena
            posiciones en el Mundial. Durante esos dos años consiguió, pese a ello, dos victorias en las pruebas de
            Singapur y de Japón en el año 2008, que cerró con un segundo puesto en Brasil.
            Más complicada fue la temporada 2009, en la que estuvo peleando entre los puestos quinto y décimo, como
            media, durante la temporada. A pesar de ello, Alonso no se fue de vacío porque logró un tercer puesto en
            Singapur.</p>
    </div>
    <div class="col-4">
        <img class="filmando-alonso-work-image" src="/images/ferrari.jpeg" />
        <h5 class="filmando-alonso-work-title">2010-2014
            El sueño de Ferrari</h5>
        <p class="filmando-alonso-work-description">Alonso cumplió uno de sus sueños con su fichaje de cara a la
            temporada 2010 por la escudería Ferrari, en la que se mantuvo durante seis temporadas. No consiguió ganar el
            título mundial, pero sí tres subcampeonatos en 2010, 2012 y 2013.
            El asturiano se erigió como el piloto líder de Ferrari durante su estancia en la 'Scuderia', en la que dejó
            su sello con varias victorias y podios. Conquistó cinco triunfos en su primer año, uno más en el 2011, tres
            en el 2012 y dos en el 2013. Fueron once en total, para cuarenta y cuatro podios, aunque el último año fue
            más complicado para el asturiano, que fue sexto del Mundial.</p>
    </div>
    <div class="col-4">
        <img class="filmando-alonso-work-image" src="/images/mclaren2.jpeg" />
        <h5 class="filmando-alonso-work-title">2015-2018
            Segunda etapa en McLaren</h5>
        <p class="filmando-alonso-work-description">De esta manera, Alonso regresó a McLaren en 2015, equipo en el que
            se mantuvo hasta 2018. Sin un coche ganador, Alonso tuvo el objetivo de pelear por los puestos de podio
            durante toda su estancia en la escudería británica, un objetivo que alcanzó con más asiduidad en su último
            año.
            De hecho, su décimo puesto en el Mundial en 2016 fue su mejor resultado durante su segunda etapa con los de
            Woking. Su tope en esos cuatro años fueron cuatro quintos puestos.</p>
    </div>
    <div class="col-4">
        <img class="filmando-alonso-work-image" src="/images/indycar.jpeg" />
        <h5 class="filmando-alonso-work-title">2019-2020
            Apuesta por otras disciplinas</h5>
        <p class="filmando-alonso-work-description">Participó además en las 500 Millas de Indianápolis por segunda vez.
            Tras su experiencia de 2017, Alonso no pudo clasificarse en esta ocasión para la prueba reina de la
            IndyCar.</p>
    </div>
    <div class="col-4">
        <img class="filmando-alonso-work-image" src="/images/alpine.jpeg" />
        <h5 class="filmando-alonso-work-title">2021-2022
            Vuelta con Alpine a la Fórmula 1</h5>
        <p class="filmando-alonso-work-description">Esa vuelta se confirmó en 2021, cuando Alonso pasó a ser piloto
            oficial de Alpine. La gran apuesta era este 2022, con un cambio de reglamentación que Alonso quería
            aprovechar para luchar por el título mundial. No está siendo posible, pero Alonso está teniendo la
            posibilidad de luchar por algún podio durante estos dos años. Consiguió uno en Catar a finales de 2021, el
            mejor resultado hasta ahora en esta nueva etapa. Terminó décimo el campeonato del 2021, puesto que ocupa
            ahora en 2022, con nueve pruebas restantes para el final del Mundial.</p>
    </div>
</div>